<div class="dealer-interface">
  <h1>The Dealer</h1>
  <div class="dealer-cards">
    {{#each dealerCards as |dealerCard|}}
      {{#if dealerCard.isHidden}}
        <div class="blackjack-card hidden-placeholder">
          <h4 class="card-name">?</h4>
          <h4 class="card-suite">?</h4>
        </div>
      {{else}}
        <div class="blackjack-card dealer-card">
          <h4 class="card-name">{{dealerCard.name}}</h4>
          <h4 class="card-suite">{{dealerCard.suite}}</h4>
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>

<div class="user-interface">
  <h1>You</h1>
  <div class="user-cards">
    {{#each userCards as |userCard|}}
      <div class="blackjack-card user-card">
        <h4 class="card-name">{{userCard.name}}</h4>
        <h4 class="card-suite">{{userCard.suite}}</h4>
      </div>
    {{/each}}
  </div>
  <div class="actions-container">
    <button class="hit-me-btn" {{action "hitMe"}}>Hit me</button>
    <button class="stick-btn" {{action "stick"}}>Stick</button>
    <p class="computed-user-score">{{computedUserScore}}</p>
  </div>
</div>
